{% extends "base.html" %} {% load i18n %} {% block head_title %} {% trans
"Signup" %} {% endblock head_title %} {% block content %}
<div
  class="container"
  style="background-color: #f3e5d3; padding: 20px; border-radius: 10px"
>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3 style="font-family: 'Times New Roman', serif">
        {% trans 'Sign Up:' %}
      </h3>

      <p style="font-family: 'Times New Roman', serif">
        {% blocktrans %} If you already registered please

        <a class="link" href="{{ login_url }}">login yourself</a> instead.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button
          class="btn btn-signup right"
          style="
            background-color: #8b4513;
            color: #fff;
            font-family: 'Times New Roman', serif;
          "
          type="submit"
        >
          {% trans 'Sign Up' %} &raquo;
        </button>
      </form>
      <br />
    </div>
  </div>
</div>
{% endblock %}
