{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
  <style>
    
    /* Style for the content within the background image */
    .content-container {
      text-align: center;
    }

    .signup-content {
      color: white;
    }

    .signup-content h3 {
      font-family: 'Times New Roman', serif;
      color: white;
    }

    .signup-content p {
      font-family: 'Times New Roman', serif;
      color: white;
    }

    .signup-content a {
      color: #FF4500; /* Custom link color */
    }

    /* Style for the signup form */
    form {
      margin-top: 20px;
    }

    /* Style for the signup button */
    button {
      background-color: #6f032b; /* Your preferred button background color */
      color: #fff; /* Your preferred button text color */
      font-family: 'Times New Roman', serif;
    }

    /* Style for the signup button on hover */
    button:hover {
      background-color: #6f032b; /* Keep the same color on hover or customize it */
    }
  </style>

  <div class="background-image">
    <div class="row">
      <!-- Row for header content -->
      <div class="col-md-8 mt-5 offset-md-2">
        <!-- Bootstrap column with top margin -->
        <div class="signup-content">
          <h3>
            {% trans 'Sign Up:' %}
          </h3>
          <!-- Heading for the signup section -->

          <p>
            {% blocktrans %}
            If you're already registered, please
            <a class="link" href="{{ login_url }}">login</a> instead.
            {% endblocktrans %}
          </p>
          <!-- Paragraph with a link to login if already registered -->
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Row for signup form -->
      <div class="col-md-8 mt-3 offset-md-2">
        <!-- Bootstrap column with top margin -->
        <form class="login" method="POST" action="{% url 'account_signup' %}">
          <!-- Form for user signup with POST method -->

          {% csrf_token %}
          {{ form.as_p }}
          <!-- Form fields, including CSRF token and form data -->

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          <!-- Hidden input for redirect field, if available -->

          <button class="btn btn-signup right" type="submit">
            {% trans 'Sign Up' %} &raquo;
          </button>
        </form>
        <br />
      </div>
    </div>
  </div>
{% endblock %}
